#chartdiv_1,
#chartdiv_1_1,
#chartdiv_2,
#chartdiv_2_1_a,
#chartdiv_2_1_b,
#chartdiv_3,
#chartdiv_4,
#chartdiv_4_1,
#chartdiv_4_2,
#chartdiv_4_3 {
    width: 100%;
    height: 400px;
    margin-bottom: 125px;
}
.buscador{
    padding: 20px;
    background-image: linear-gradient(0deg, #395c7a 0%, #bc6a82 100%);
    border-radius: 5px;
}
.boton{
    width: 160px;
}
.container {
    text-align: center;
    margin: 40px auto;
}

.graficas-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.badge {
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(0deg, #395c7a 0%, #bc6a82 100%);
    color: white;
    font-size: 20px;
}

.badge h6 {
    margin-top: 10px;
    font-size: 12px;
}