body {
  background-color: rgb(249, 252, 255);
}

/* Estilos para la fila superior del encabezado */
.top-row {
  background: linear-gradient(to right, #510839, #7a0d56); /* Degradado de colores */
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px; /* Altura de la fila superior */
  padding-left: 20px; /* Espaciado a la izquierda */
  font-size:large;
}

/* Estilos para el texto "UNIDAD DE APOYO" */
.top-row h1 {
  margin: 0; /* Eliminar el margen para evitar espacios adicionales */
  color: aliceblue; /* Color del texto */
}


/* Estilos para la fila inferior del encabezado */
.bottom-row {
  background: linear-gradient(to right, #9f3e7f, #870e5f); /* Degradado de colores */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px; /* Espaciado superior para separar las filas */
}

/* Estilos para el mensaje de bienvenida */
.welcome-message {
  margin-right: 10px; /* Espaciado a la derecha */
  color: aliceblue; /* Color del texto */
  padding-left: 20px; /* Espaciado a la izquierda */
}

/* Estilos para el botón de cerrar sesión */
#cerrar-sesion-button {
  margin-right: 10px; /* Espaciado a la izquierda */
  margin-bottom: 10px;
}






.welcome-message {
  margin-right: auto;
  /* Empujar el mensaje de bienvenida hacia la derecha */
}




/* Estilos para el contenedor de la segunda parte vertical */
.container-seguimiento {
  border: 1px solid #ccc; /* Borde sólido de 1 píxel con color gris */
  border-radius: 5px; /* Radio de borde de 5 píxeles para redondear las esquinas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  padding: 10px; /* Espaciado interno */
}

/* Estilos para el contenido dentro del contenedor */
#tabla-seguimiento {
  height: 560px; /* Altura del contenido */
  overflow-y: auto; /* Desplazamiento vertical automático */
  margin-bottom: 20px; /* Margen inferior */
}




/* Estilo personalizado para separar el botón del header */
.btn-container {
  margin-left:a auto;
  /* Ajusta el margen izquierdo según tu preferencia */
  margin-top: 10px;
  /* Ajusta el margen superior según tu preferencia */
}

/* Estilos adicionales para el contenedor */
.container-box {
  border: 1px solid #ccc; /* Agregamos un borde sólido de 1 píxel con color gris */
  border-radius: 5px; /* Aplicamos un radio de borde de 5 píxeles para redondear las esquinas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra para dar profundidad al contenedor */
  padding: 10px; /* Agregamos un relleno interno de 10 píxeles */
  margin-right: 10px; /* Ajustamos el margen derecho para separarlo del botón */
  margin-top: 10px; /* Ajustamos el margen superior para alinearlo con el botón */
}



.container{
  margin-left: 10px;
}

#patient-list {
  list-style: none;
  padding: 0;
  background-color: white;
  /* Fondo blanco */
  border: 1px solid #f3e7ef;
  /* Borde alrededor de la lista */
  border-radius: 5px;
  /* Esquinas redondeadas */
  margin: 10px;
}

/* Cambio de color al pasar el mouse sobre un registro */
.patient-item:hover {
  background-color: #f0f0f0; /* Cambia este color según tus preferencias */
  cursor: pointer;
}

#patient-list li {
  margin: 0;
  /* Elimina el margen entre elementos */
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /* Borde inferior para separar pacientes */
}

#patient-list li:last-child {
  border-bottom: none;
  /* Elimina el borde inferior del último paciente */
}

/* pantalla de carga */

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(151, 150, 150, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.loading svg polyline {
  fill: none;
  stroke-width: 6;
  /* Aumentar el grosor de la línea */
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #fb3437;
  stroke-dasharray: 96, 288;
  /* Ajustar la longitud del dasharray y el dashoffset */
  stroke-dashoffset: 384;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}