body{
    background-color: gray;
}
header {
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#DCE35B, #45B649);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#DCE35B, #45B649);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 50px;
    /* Ajusta la altura del encabezado según tus necesidades */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: rgb(255, 255, 255);
    /* Agregué color de texto blanco para mayor visibilidad */

}

header {
    /* COLOR A LA LETRA HRAEI */
    display: inline;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    -webkit-: text;
    color: transparent;
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
}
.row{
    padding: 2%;
}
.cuestionario{
    padding: 2%;
}

/* pantalla de carga */

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(151, 150, 150, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.loading svg polyline {
    fill: none;
    stroke-width: 6; /* Aumentar el grosor de la línea */
    stroke-linecap: round;
    stroke-linejoin: round;
}

.loading svg polyline#back {
    fill: none;
    stroke: #ff4d5033;
}

.loading svg polyline#front {
    fill: none;
    stroke: #fb3437;
    stroke-dasharray: 96, 288; /* Ajustar la longitud del dasharray y el dashoffset */
    stroke-dashoffset: 384;
    animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}